@charset "utf-8";

/* pc해상도일때 적용되는 서식 */

  @media screen and (min-width:1200px) {
  header{
    width:100%;height:150px;
    position:absolute;
    z-index:1000;
  }
  #toggle{display:none;}
  header h1{
    width:300px;
    position:absolute;
    top:40px;left:3%;
  }
  header h1 img{width:100%;}
  
  /* 메인메뉴 서식 */
  .gnb{
    position:absolute;
    right:3%;top:40px;
  }
  .gnb > ul{
    display:flex;
  }
  .gnb > ul > li{
    margin:0px 20px;
		position:relative; /* 서브메뉴의 기준 */
		line-height:40px;
  }
  .gnb > ul > li > a{
    font-size:1.2rem;
    color:#fff;
  }

  /* 서브메뉴 서식 */
  .sub{
    border:1px solid #ccc;
		box-shadow: 0px 1px 1px #ccc;
		border-radius:4px;
		padding:2px;
		background:#fff;
    position:absolute;
    width:100%;
    display:none;
  }
  .sub li{text-align:center;}
  .sub li a{
    font-size:14px;
    display:block;
    line-height:36px;
    transition:0.5s;
  }
  .sub li:hover a{
    background-color:#ff8900;
		color:#fff;
		text-decoration:none;
  }

  .gnb li:first-child .sub a, .gnb li:nth-child(2) .sub a{
    padding:0px 10px;
  }
  .gnb li:first-child .sub{width:150px;left:-45px;}
  .gnb li:nth-child(2) .sub{width:200px;left:-68px;}

  /* 메인서식 */
  main{}
  .visual{
    position:relative;
    height:83vh;/* veiwport height */
    overflow:hidden;
  }
  .visual > h2{display:none;}
  .visual > div{
    position:absolute;
    width:100%;
    top:0px;left:0px;
  }
  .visual > div > span{
    font-size:40px;color:#fff;
    text-shadow:0px 0px 4px #ccc;
    font-weight:bold;
    line-height:50px;
    position:absolute;
    top:280px;left:3%;
  }
  .visual > div > img{width:100%;}
  .slide1{z-index:3;}
  .slide2{z-index:2;display:none;}
  .slide3{z-index:1;display:none;}

  /* sns서식 */
  .visual .sns{
    display:flex;
    position:absolute;
    top:420px;left:3%;
		z-index: 10;
  }
  .visual .sns > li{
    border:1px solid #fff;
    margin:0px 8px;
    padding:10px 8px 6px 8px;
    text-align:center;
  }
  .visual .sns li .fab{
    color:#fff;font-size:20px;
    width:20px;
  }
  .visual .sns li:hover{background:#fff;}
  .visual .sns li:hover .fab{
    color:#ff8900;
  }
  /* 좌, 우버튼 서식 */
  .visual .s_btn{
    display:flex;
    position:absolute;
    top:70%;left:3%;
    z-index:20;
  }
  .visual .s_btn > li{
    background-color:#f2f2f2;
		padding:12px 6px;
		margin-right:10px;
  }

  /* 콘트롤버튼 서식 */
  .visual .ctrl_btn{
    position:absolute;
    right:1.5%;top:45%;
    z-index:20;
  }
  .visual .ctrl_btn li{
    width:15px;height:15px;
    background:#fff;
    border-radius:50%;
    margin-bottom:10px;
    cursor: pointer;
  }
  .on{
    background:#ca6c01 !important;
  }

  /* 3. 탭콘텐츠 서식 */
  .tab_con{background:#f1f1f1;}
  .tab_con article{
    width:1200px;height:500px;
    margin:0px auto;
    background:url('../images/mcon2_7.png') no-repeat right;
    background-size:560px;
  }
  .tab_con article > h2{padding:50px 0px 20px 0px;}
  .tab_con_wrap{
    display: flex;
    padding-top:40px;
    position:relative;
  }
  .tab_con_wrap > li{margin:0px 5px;}
  .tab_con_wrap > li > a{
    padding:10px;
    background:#333;
    color:#fff;font-size:17px;
  }
  .tab_con_wrap > li > a:hover{text-decoration:none;}
  .tab_con h2{
    font-size:32px;
    font-weight:bold;
    padding-bottom:20px;
  }
  .act{background:#f36f21 !important;}
  .tab_con_wrap dt{
		font-size:24px;
		font-weight:bold;
    margin: 20px 0px 20px;
	}
	.tab_con_wrap dd{
		font-size:18px;
		line-height:180%;
	}
  .cont{
    position:absolute;
    width:54%;left:20px;top:90px;
    display:none;
  }
  .cont img{width:600px;}

  /* 이벤트 슬라이드 서식 */
  .event{
    width:1200px;
    margin:100px auto;
    position:relative;
  }
  .event > h2{
    font-size:32px;
    font-weight:bold;
    padding-bottom:20px;
  }
  .e_slide{
    display:flex;
    position:relative;
    overflow:hidden;
  }
  .es_wrap{display:flex;width:3600px;}
  .es_wrap div{width:1200px;background:#e8e8e8;}
  .event i.fas{
    position:absolute;
    top:160px;
    font-size:30px;
    padding:5px 12px;
    border-radius:50%;
    border:1px solid #333;
    background:#fff;
  }
  .event i.fa-angle-left{left:-55px;}
  .event i.fa-angle-right{right:-55px;}
  .e_slide a{display:flex;}
  .e_slide .e_txt{padding:30px 0px 0px 40px;}
  .e_txt span{
    background:#ccc;
    padding:5px 10px;
  }
  .e_txt h3{
    font-size:18px;
    line-height:60px;
  }
  .e_txt p{
    font-size:16px;
  }

  /* 6. 미에로 스토리 갤러리 */
  .gallery{
    background:#f36f21;
  }
  .gallery article{
    width:1200px;
    margin:0px auto;
    padding:60px 0px;
  }
  .gallery article > h2{
    font-size:32px;
    font-weight:bold;
    color:#fff;
    padding-bottom:50px;
  }
  .girl {
    width: 1200px;
    display: grid;
    grid-template-rows: 270px 270px 270px;
    padding: 20px;
    grid-gap: 20px;
    grid-template-areas:
      "g01 g03 g04"
      "g02 g03 g05"
      "g06 g07 g08";
  }
  figure {
    overflow: hidden;
  }
  figure:hover figcaption {
    transform: translate(0px, -84px);
  }
  .girl figcaption {
    height: 80px;
    background-color: #111111;
    position: relative;
    transition: 0.5s;
  }
  figcaption h6 {
    font-size: 20px;
    font-weight: bold;
    color: #f36f21;
    padding: 10px 0px 5px 20px;
  }

  figcaption p {
    font-size: 10px;
    color: #ffffff;
    padding: 5px 0px 0px 20px;
  }

  figcaption span {
    border: 1px solid #ffffff;
    font-size: 12px;
    color: #ffffff;
    padding: 5px;
    position: absolute;
    right: 20px;
    bottom: 15px;
  }

  .girl img {
    width: 100%;
  }

  .girl figure:first-child {
    grid-area: g01;
  }

  .girl figure:nth-child(2) {
    grid-area: g02;
  }

  .girl figure:nth-child(3) {
    grid-area: g03;
  }

  .girl figure:nth-child(4) {
    grid-area: g04;
  }

  .girl figure:nth-child(5) {
    grid-area: g05;
  }

  .girl figure:nth-child(6) {
    grid-area: g06;
  }

  .girl figure:nth-child(7) {
    grid-area: g07;
  }

  .girl figure:last-child {
    grid-area: g08;
  }
}


/* 모바일 내비게이션 */
@media screen and (max-width:767px) {
  header{
    position:absolute;
    width:100%;z-index: 100;
  }
  header h1{
    position:absolute;
		top:20px;
		width:300px;
	}
  header h1 img{width:100%;}

  /* 모바일 내비게이션 서식 */
  header nav{
    position:fixed;top:60px;
    width:100%;height:100%;
    z-index:1001;
  }
  .gnb{
    width:100%;
		padding-top:50px;
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  .gnb > ul{width:90%;}
  .gnb > li{
    text-align:center;
    position:relative;
  }
  .gnb li a{
    display: block;;
    background:#fff;
    line-height:260%;
    font-size:1rem;
    text-align:center;
  }
  .sub{
    display:none;
    position:absolute;
    width:90%;left:5%;
    box-shadow: 0px 3px 2px #ccc;
    border:1px solid #ccc;
  }
  .sub li a{background:#e8e8e8;}

  main h2, main h3, main span{display:none;}

  #toggle{
    display:block;
    background:#ff8900;
    padding:8px;
    position: absolute;
    right:3%;top:24px;
    width:32px;height:32px;
  }
  #toggle span{
    display:inline-block;
    width:32px;height:2px;
    background:#fff;
    position:absolute;
    transition:0.5s;
  }
  #toggle span:first-child{top:12px;}
  #toggle span:nth-child(2){top:22px;}
  #toggle span:last-child{bottom:12px;}

  .rotate1{
    transform:rotate(45deg);
    left:9px;
    top:23px !important;
  }
  .rotate2{
    transform:rotate(-45deg);
    bottom: 23px !important;
    right:7px;
  }
  .bgcolor{background:rgba(18, 18, 18,.8) !important};

  .gnb{}


}